# idea
*.iml
.idea/

# eclipse
.classpath
.project
.settings/

# config
sysConfig.properties
core-site.xml
hdfs-site.xml
mapred-site.xml
yarn-site.xml
hbase-site.xml
application.properties


target/
dependency-reduced-pom.xml

logs/